/*1*/ #pogrubienie_kozikowski {font-size: 35px; color:#955cd3}

/*2*/ #pochylona_kozikowski {font-size: 40pt; color:#f9c06f}

/*3*/ #index_gorny_kozikowski {font-size:1.5cm; color:#bd8e1f}

/*4*/ #index_dolny_kozikowski {font-size: 2.5cm; color:rgb(34%, 94%, 90%)}

/*5*/ #mono_kozikowski {font-size:45px ; color:#29de6f}

/*6*/ #powiekszenie_kozikowski {color:#633ea1}

/*7*/ #pomniejszenie_kozikowski {color:rgb(78%, 63%, 23%)}